/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
 }

 /*responsive* on small browser align left logo& headrer title&subtitle*/
 @media (max-width: 410px) {
   #right {
     text-align: left;
   }
 }

 @media (max-width: 410px) {
   .header__title {
     font-size: 2em;
   }
 }

 @media (max-width: 410px) {
   .header__logo {
     margin-bottom: 10px;
     margin-right: 10px;
     width: 55px;
     height: 65px;
   }
 }

 /*make quote to hide on galaxy*/
 @media screen and (max-width:410px) {
   .centered #quote {
     display: none;
   }
 }

@media screen and (min-width:411px) {
  .alert {
    display: none;
  }
}

 @media screen and (min-width:710px) {
   .mainColumn img {
     width:100%;
     height:510px;
     object-fit: cover;
   }
 }

 /*baground color change to darker on bigger screen **/
 @media screen and (min-width:510px) {
   .column {
     background-color: #d1d1e0;
   }
 }

 @media screen and (max-width:3750px) {
   .column {
     width: 90%;
     border: solid 1px #bcbcc7;
   }
 }

 /* Responsive layout - when the screen is less than 700px
 wide, make
 the pictures stack on top of each other instead of
 next to each other */
 @media screen and (max-width: 700px) {
     .row,
     .column {
       flex-direction: column;
     }
 }

 @media screen and (min-width: 300px) {
     .column img {
       width: 105px;
       height: 105px;
       background-color: red;
     }
 }

 @media screen and (min-width: 300px) and (max-width: 700px) {
   .box {
     width: 50%;
     height: auto;
   }
   .popupMSG {
     width: 70%;
   }
 }

 @media screen and (min-width: 701px) {
   .box {
     width: 100%;
     height: auto;
   }
   .popupMSG {
     width: 80%;
   }
 }
